*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: 3px 0;
    border: 3px solid blue;
    background: rgb(245, 86, 173);
    padding: 12px;
}

#click{
    padding: 10px;
    border-radius: 6px;
    border: 3px solid red;
    cursor: pointer;
}

.bg-primary{
    background: yellow;
}

.second-bg{
    background: orange;
}